@use "../base/variables" as v;
@use "../base/mixins" as m;


.movieContainer {
  display: grid;
  gap: 3rem;
  padding: 4rem;
  justify-content: center;

  @include m.tablet {
    grid-template-columns: repeat(auto-fill, 230px);
  }
}
