@use "../base/variables" as v;
@use "../base/mixins" as m;

.containerForm {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: v.$blanco;

  &__title {
    font-weight: 600;
    font-size: 2.8rem;
    margin: 10px 0 25px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 368.333px;
  padding: 15px 48px;
  border-radius: 8px;
  margin-bottom: 70px;
  font-size: 1.9rem;
  
  @include m.tablet {
    width: 841.333px;
    padding: 48px;
    background-color: v.$opacityForm;
  }
  &__input {
    height: 56px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-width: 0.5px;
    border-radius: 4px;
    border: 1px solid v.$blanco;
    font-weight: 400;
    font-size: 1.9rem;
    padding-left: 12px;
    margin-bottom: 20px;
    color: v.$blanco;

    @include m.tablet {
      margin-top: 5px;
      border: 0px solid v.$negro;
    }
  }

  &__button {
    padding: 12px 30px;
    background-color: rgba(62, 59, 68, 0.7);
    text-transform: uppercase;
    border: 0 solid v.$negro;
    color: v.$blanco;
    font-weight: 600;
    margin-bottom: 10px;
    @include m.tablet{
      padding: 12px;
      margin-right: 25px;
    }
    &:hover {
      background-color: rgba(15, 15, 15, 0.98);
      border: 3px solid v.$morado;
    }
  }
  &__display{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    @include m.tablet{
      flex-direction: row;
    }
  }

  &__texto{
    color: v.$morado;
    font-weight: 600;
  }
}
