.cardMovie {
  /* background-color: #FFF;
    padding: 2rem;
    color: #000; */
  border-radius: 1rem;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    transform: translateY(-30px);
    transition: 0.5s;
  }
  &__imgs{
    width: 100%;
    border-radius: 10px;
  }
  &__title{
    font-size: 2rem;
    margin: 1.5rem;
    text-transform: uppercase;
    color: #FFF;
  }
}
